{% extends 'boilerplate.html.twig' %}

{% block content %}

  {% set flashes = app.flashes %}

  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <div class="message-form mb-5">
          {{ form_start(form) }}

            <div class="mb-4">
              <ul class="float-right list-inline">
                <li class="list-inline-item"><a href="{{ url('messages') }}" class="btn btn-outline-secondary btn-sm float-right">View All Messages</a></li>
                <li class="list-inline-item"><a href="{{ url('logout') }}" class="btn btn-sm float-right">Logout</a></li>
              </ul>
              <h1 class="h3 mb-3 font-weight-normal">Send a Message</h1>
            </div>

            {{ include('bits/alerts.html.twig', {'session_flashes': flashes }) }}

            {# Set last values for prefill on rate limiting #}
            {% set recipient_value = '' %}
            {% if flashes['form.recepient'] is defined %}{% set recipient_value = flashes['form.recepient'][0] %}{% endif %}

            {% set message_value = '' %}
            {% if flashes['form.recepient'] is defined %}{% set message_value = flashes['form.messageBody'][0] %}{% endif %}


            {{ form_row(form.recipient,   { 'attr': { 'placeholder': 'Mobile Number', 'value': recipient_value } }) }}
            {{ form_row(form.messageBody, { 'attr': { 'placeholder': 'Message', 'data-bind-counter': '.message-form'}, 'value': message_value }) }}

            <p class="float-left message__chars text-muted">
              <span class="message__chars-count"></span> of
              <span class="message__chars-max"></span>
            </p>

            <button class="btn btn-primary float-right" type="submit">Send</button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block page_title %}Send a Text{% endblock %}
{% block body_class %}message-page{% endblock %}
