{#
 # Auto pagination tool
 #
 # @author Josh Walwyn <me@joshwalwyn.com>
 #
 # ARGUMENTS:
 # - nav_title     STRING title of navigation (required)
 # - page_number   INT    current page number (required)
 # - total_pages   INT    total amount of possible pages (required)
 # - route         STRING path route to generate (required)
 # - pages_to_show INT    how many links to show alongside the current page.
 #                        recomended using an even number. (default 4)
 #}
{% if total_pages > 1 %}
  <nav aria-label="{{ nav_title }}">
    <ul class="pagination">

      {# We want to show a weighted amount of numbers before and after #}
      {# calculate variables regarding pages to render (before and after #}
      {% set pages_before = page_number - 1 %}
      {% set pages_after  = total_pages - page_number %}
      {% if pages_to_show is not defined %}{% set pages_to_show = 4 %}{% endif %}
      {% set page_weight = (pages_to_show / 2)|round(0, 'floor') %}

      {# first, get amount that we should show before #}
      {% set pages_before_to_show = page_weight %}
      {% if pages_before < pages_before_to_show %}
        {% set pages_before_to_show = pages_before %}
      {% endif %}

      {# secondly, get amount that we should show after #}
      {% set pages_after_to_show = page_weight%}
      {% if pages_after < pages_after_to_show %}
        {% set pages_after_to_show = pages_after %}
      {% endif %}

      {# We might be able to show more pages after #}
      {% if page_weight - pages_before_to_show > 0 %}
        {% for i in 1..(page_weight - pages_before_to_show) if (pages_after_to_show + page_number) < total_pages %}
          {% set pages_after_to_show = pages_after_to_show + 1 %}
        {% endfor %}
      {% endif %}

      {# Or, we might be near the end and could should more pages before #}
      {% if page_weight - pages_after_to_show > 0 %}
        {% for i in 1..(page_weight - pages_after_to_show) %}
          {% set pages_before_to_show = pages_before_to_show + 1 %}
        {% endfor %}
      {% endif %}

      <!-- Previous -->
      <li class="page-item{% if page_number == 1%} disabled{% endif %}">
        <a class="page-link" href="{{ path(route, {'page': page_number - 1}) }}" aria-label="Previous" disabled>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!-- Show some before -->
      {% if page_number > 1 %}
        {% for i in pages_before_to_show..1 if page_number - i > 0 %}
          {% set number = page_number - i %}
          <li class="page-item"><a class="page-link" href="{{ path(route, {'page': number}) }}">{{ number }}</a></li>
        {% endfor %}
      {% endif %}

      <!-- Show current -->
      <li class="page-item active"><span class="page-link">{{ page_number }}</span></li>

      <!-- Show some after -->
      {% if page_number < total_pages %}
        {% for i in 1..pages_after_to_show %}
          {% set number = page_number + i %}
          <li class="page-item"><a class="page-link" href="{{ path(route, {'page': number}) }}">{{ number }}</a></li>
        {% endfor %}
      {% endif %}

      <!-- Next -->
      <li class="page-item{% if page_number == total_pages%} disabled{% endif %}">
        <a class="page-link" href="{{ path(route, {'page': page_number + 1}) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

    </ul>
  </nav>
{% endif %}
