{% extends 'boilerplate.html.twig' %}

{% block content %}
  {{ form_start(form, { 'attr': {'class': 'register'} }) }}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_row(form.name,  { 'attr': { 'placeholder': 'Full Name' } }) }}
    {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' } }) }}
    {{ form_row(form.plainPassword.first,  { 'attr': { 'placeholder': 'Password' } }) }}
    {{ form_row(form.plainPassword.second, { 'attr': { 'placeholder': 'Repeat Password' } }) }}

    <button class="btn btn-primary btn-block mt-4" type="submit">Register</button>
    <a href="{{ url('login') }}" class="btn btn-outline-primary btn-block">Go Back</a>
  {{ form_end(form) }}
{% endblock %}

{% block page_title %}Register{% endblock %}
{% block body_class %}text-center registration-page{% endblock %}
